# Auto detect text files and perform LF normalization
* text auto

*.png binary
*.PNG binary
*.jpg binary
*.jpg binary
*.zip binary
*.ZIP binary
*.7z binary
*.7z binary
*.xcf binary
*.XCF binary
*.ico binary
*.ICO binary
*.eot binary
*.EOT binary
*.ttf binary
*.TTF binary
*.woff binary
*.WOFF binary
*.woff2 binary
*.WOFF2 binary



